[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/alexandrevicenzi/Flex.git
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify
[submodule "plugins/pelican-ipynb"]
	path = plugins/pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb
